sub_func_test
.idea
.DS_Store

lib/test_pic
lib/ocr_detect_inner
lib/models

*.jpg

dataset

try/out_check_font
try/out_stat_words

*.pyc
try/comp_str.txt
try/comp_str1.txt
try/models-v1
try/models-v2-bk1
try/models
try/out_ocr_fullfonts_gen

tfdata