sub_func_test
.idea
.DS_Store

lib/test_pic
lib/ocr_detect_inner
lib/models

*.jpg

dataset

try/out_check_font
try/out_stat_words

*.pyc
try/comp_str.txt
try/comp_str1.txt
try/models-v1
try/models-v2-bk1
try/models
try/out_ocr_fullfonts_gen

tfdata

*.zip

models

resume
resume1
resume2

try/out_ocr_detect
try/out_resume_vocab
try/out_resume_vocab-bk
try/tfdata-bk-all
try/useFont
try/useFont-bk1
try/log_dat
try/log_data.txt
try/out_resume_patches
try/tfdata*
try/useFont*

resume-flag